// colors
$body: #cccccc;
$header: #69140E;
$gridPortrait: #A44200;
$infoBorder: rgb(71,46,0);
$tintColor: rgb(0,0,0);

//borders
$componentBorder: 5px double white;

//imgs
$headerImg: none;
$bgImg: none;